@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        At Dimension Data, we unlock potential using our comprehensive portfolio of intelligent technology and services. We have extraordinary people who work tirelessly to deliver value to our clients and communities across the Middle East and Africa. We help create smarter businesses for our clients and a better world for everyone.<br />
        <br />

        Our 10,000 strong, team of experts across the region design solutions that help our clients become more efficient and agile. In our solutions we embed the ethos of 'secure by design' ensuring network, applications, and enterprise security.<br />
        <br />

        Our portfolio of digital solutions – in partnership with our world-class strategic partners - enable us to give our people, clients and communities the power to do more.<br />
        <br />
        Founded in 1983 and headquartered in Johannesburg, we've grown our footprint across the Middle East and Africa. We're a member of the NTT Ltd. Group, one of the world’s leading technology companies.<br />
        <br />
    </p>
    <h2>Today's Date & Time: @DateTime.Now</h2>
</div>
